/* PHASE 11: Icons */
[class*="icon-"] {
  background-image: url("../images/sprite.png");
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 0px;
  overflow: hidden;
  padding-top: 25px;
  vertical-align: bottom;
}
[class*="icon-small-"] {
  /*width: 25px;*/
  /*overflow: visible;*/
  /*padding-left: 5px;*/
  padding-top: 20px;
}

.icon-comment {
}

.icon-comment:hover {
  background-position: 0 -25px;
}

.icon-reblog {
  background-position: 0 -100px;
}

.icon-reblog:hover {
  background-position: 0 -125px;
}

.icon-favorite {
  background-position: 0 -50px;
}

.icon-favorite:hover {
  background-position: 0 -75px;
}

.icon-small-wall {
  background-position: 0 25px;
}

.icon-small-about {
  background-position: 0 75px;
}

.icon-small-friends {
  background-position: 0 100px;
}

.icon-small-photos {
  background-position: 0 50px;
}
